<!DOCTYPE html>
<html lang="es" style="background-image: url('/static/fondo.png');">
<link rel="stylesheet" href="estilos.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nueva Nota</title>
</head>
<body>
    <h1>Crear Nueva Nota</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Nota</button>
        <a href="{% url 'lista_notas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</body>
</html>