<!DOCTYPE html>
<html lang="es" style="background-image: url('/static/fondo.png');">
<link rel="stylesheet" href="../../static/crear_nota.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>
   <label for="id_titulo"></label>
   <input class="titulo" type="text" name="titulo" maxlength="100" required id="id_titulo" placeholder="Encabezado...">
 </p>
 <p>
   <label for="id_contenido"></label>
   <textarea name="contenido" cols="40" rows="10" required id="id_contenido" placeholder="Comienza a escribir aquí...">
</textarea>
 </p>

        <button type="submit">Guardar</button>
        <a id="cancelar" href="{% url 'lista_notas' %}">Cancelar</a>
    </form>
</body>
</html>
