<!DOCTYPE html>
<html lang="es" style="background-image: url('/static/fondo.png');">
<link rel="stylesheet" href="../../static/inicio_sesion.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
</head>
<body>
    <h1>Inicia Sesión</h1>
    {% if messages %}
        {% for message in messages %}
            <p id="mensaje">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <!--Este token es una medida de seguridad que protege contra ataques CSRF al asegurarse de que la solicitud proviene del usuario que inició sesión y no de un sitio web malicioso. -->
        <div class="form-group">
            <label for="id_username">Usuario:</label>
            <input type="text" id="id_username" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_password">Contraseña:</label>
            <input type="password" id="id_password" name="password" class="form-control">
        </div>

            <!-- {{ form.as_p }} -->
            <!-- Esto renderiza los campos del formulario utilizando el formato de parágrafos (<p>) por defecto. -->
        <button type="submit">Iniciar Sesión</button>
    </form>
    <script>
        // Función para ocultar el mensaje de error después de 5 segundos
        setTimeout(function() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000); // 5 segundos en milisegundos
    </script>

    <p>¿Aún no tienes cuenta? <a id="cancelar" href="{% url 'registro' %}">Regístrate aquí</a></p>
</body>
</html>


