<!DOCTYPE html>
<html lang="es" style="background-image: url('/static/fondo.png');">
<link rel="stylesheet" href="../../static/inicio_sesion.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
</head>
<body>
    <h1>Inicia Sesión</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
    </form>
    <p>¿Aún no tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
</body>
</html>
