<!DOCTYPE html>
<html lang="es" style="background-image: url('/static/fondo.png');">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
    <h1>Bienvenido a NOTEES</h1>
    <p>Tu propio estudio de creación de notas</p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
    <a href="{% url 'registro' %}">Registrarse</a>
</body>
</html>
