
body {
    max-width: 400px;
    margin: auto;
    padding-top:120px;
}

h1 {
    font-family: impact, sans-serif;
    font-size: 50px;
    color: #333;
    text-align: center;
}

#mensaje {
    color: #c40000;
    text-align: center;
    width: 100%;
}

p {
    color: #7d7574ed;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;


}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #e8f0fe;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 3px;
}

.form-control:focus {
    outline: none;
}


button {
    width: 105%; /* Ancho del botón */
    height: 45px; /* Alto del botón */
    border-radius: 15px; /* Radio de los bordes */
    border: 2px solid #ffffff0d; /* Grosor y color del borde */
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1); /* Definir la sombra */
    background-color: #fff; /* Color de fondo del botón */
    color: #616161; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    text-align: center;
    font-family: sans-serif;
    background-color: #ffc0cb00;
}

button:hover {
    background-color: #d3b3ae29;
}

button:active{
  box-shadow: none;
  color: #4a4a4a;
  border: 2px solid #ffffff00; /* Grosor y color del borde */
}

.helptext{
    color: #2727278a;
    margin-top: 1px;
    padding-bottom: 1px;
}

.texto{
    text-align: left;
    margin-right:320px;
    color: #000000de;
}

#cancelar {
    text-align: left;
    color: #4a4a4adb;

}

#cancelar:hover {
    background-color: #d3b3ae00;
    color: #4a4a4a;
}

#cancelar:active{
  box-shadow: none;
  color: #4a4a4acf;
}

#verif {
    text-align: center;
    margin-bottom:12px;
}

.boton{
    margin-top:10px;
    margin-bottom:12px;
}
.color {
    color: #666;
}