/* styles.css */
body {
    margin: 90px;
    text-align:center;

}

h1 {
    font-family: impact, sans-serif;
    font-size: 90px;
    color: #333;

}

p {
    font-family: sans-serif;
    color: #666;
}

a {
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    font-family: sans-serif;
    text-decoration: underline;
}
